footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-color-);
    height: 120px;
    border: solid var(--border-color-) 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.footer-vänster {
    font-size: 40px;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
}
.css {
    padding-bottom: 10px;
    color: rgb(67, 67, 255);
}
.html {
    color: coral;
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer-mitten{
    font-size: 60px;
    display: flex;
    
}
.facebook {
    padding: 25px;
    color: lightskyblue;

}
.instagram {
    padding: 25px;
    color: lightskyblue;

}
.twitter {
    padding: 25px;
    color: lightskyblue;
}

.footer-höger{
    font-size: 80px;
    display: flex;
    padding: 20px;
}
.contact {
    color: white;
}
@media screen and (max-width: 550px) {
    .footer-höger{
        font-size: 50px;

    }
    .footer-mitten{
        font-size: 40px;
    }
    .twitter{
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .facebook{
        display: none;
    }
    }